<div class="menu-avatar">
  <div><img src='../img/Images/defaultuserimage_icon.svg' alt='Avatar' /></div>
  <p>Welcome</p>
</div>

<div class="divider-out"></div>

<ul class="menu-top">
  <li class="dashboard"><div><a></a></div><p><%= i18n('menubar.icons.dashboard') %></p></li>
  <li class="current-prospect"><div><a></a></div><p><%= i18n('menubar.icons.current-prospect') %></p></li>
  <li class="prospects"><div><a></a></div><p><%= i18n('menubar.icons.prospects') %></p></li>
  <li class="inbox"><div><a></a></div><p><%= i18n('menubar.icons.inbox') %></p></li>
  <li class="calendar"><div><a></a></div><p><%= i18n('menubar.icons.calendar') %></p></li>
  <li class="assistance"><div><a></a></div><p><%= i18n('menubar.icons.assistance') %></p></li>
</ul>

<div class="divider-in"></div>

<ul class="menu-bottom">
  <li class="share-practice"><a></a><p><%= i18n('menubar.icons.share-practice') %></p></li>
  <li class="ideas"><a></a><p><%= i18n('menubar.icons.ideas') %></p></li>
  <li class="policies"><a></a><p><%= i18n('menubar.icons.policies') %></p></li>
  <li class="training"><a></a><p><%= i18n('menubar.icons.training') %></p></li>
  <li class="resources"><a></a><p><%= i18n('menubar.icons.resources') %></p></li>
  <li class="consult"><a></a><p><%= i18n('menubar.icons.consult') %></p></li>
</ul>

